.container {
    width: 100%;
    background: #f9fafb;
    margin-top: 40px;
}

.container-inner {
    max-width: 1224px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    gap: 24px;
}

.footer-left {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.footer-heading {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-2);
}

.footer-item-list {
    min-width: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    font-weight: 300;
    color: var(--gray-2);
}

.footer-item {
    cursor: pointer;
    padding: 4px 0;
}

.footer-item>svg {
    padding-top: 2px;
    display: none;
}

.footer-item:hover>svg {
    display: inline-block;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    padding-right: 40px;
}

.footer-social svg:hover {
    cursor: pointer;
    opacity: 0.9;
}

.footer-right {
    flex: 1;
}

.footer-form {
    margin-top: 16px;
    flex: 1;
}

.form-container {
    display: flex;
    gap: 8px;
}

.subcribe-input,
.subcribe-button {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.subcribe-input {
    padding: 8px 16px;
    border: 1px solid #999;
    outline: none;
    flex: 1;
}

.subcribe-input:focus {
    border: 1px solid #666;
}

.subcribe-button {
    padding: 8px 24px;
    outline: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.subcribe-text {
    font-size: 12px;
    margin-top: 8px;
    color: #666;
    font-weight: 300;
}

.subcribe-text a {
    text-decoration: underline;
    color: #0f4fce;
}

.copyright {
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid #d9d9d9;
    text-align: center;
    font-size: 14px;
    color: #222;
}

@media screen and (max-width: 1024px) {
    .footer-social {
        padding-right: 0;
    }
}

@media screen and (max-width: 838px) {
    .container-inner {
        padding: 40px 50px;
        flex-direction: column-reverse;
    }
    .footer-right {
        margin-bottom: 20px;
    }
    .footer-social {
        padding-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container-inner {
        padding: 20px;
    }
    .footer-social {
        flex-wrap: wrap;
        width: 100px;
        gap: 8px;
        justify-content: start;
    }
}

@media screen and (max-width: 480px) {
    .container-inner {
        gap: 10px;
    }
    .footer-social {
        padding-right: 0;
        width: 80px;
        row-gap: 0;
    }
    .footer-social svg {
        width: 24px;
    }
    .footer-item-list {
        font-size: 12px;
        gap: 4px;
        margin-top: 12px;
        min-width: unset;
    }
    .subcribe-button {
        padding: 8px 16px;
    }
}