@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
:root {
    --white: #fff;
    --black: #000;
    --black-10: rgba(0, 0, 0, 0.1);
    --black-20: rgba(0, 0, 0, 0.2);
    --gray-1: #121212;
    --gray-2: #222222;
    --gray-3: #333333;
    --gray-4: #555555;
    --gray-5: #888888;
    --gray-6: #999999;
    --gray-7: #cecece;
    --gray-8: #dfdfdf;
    --gray-9: #fbfbfb;
}


/* ----- Reset css ----- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html,
body {
    height: 100%;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.5;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}


/* ----- End reset css ----- */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid var(--gray-6);
    background: var(--white);
    background-image: none;
    flex: 1;
    padding: 0 8px;
    color: var(--gray-2);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

select::-ms-expand {
    display: block;
}

.select {
    position: relative;
    display: flex;
    width: 200px;
    height: 40px;
    /* line-height: 3; */
    background: var(--white);
    overflow: hidden;
}

.select::after {
    content: '^';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--gray-6);
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #23b499;
}

button {
    font-family: 'Rubik', sans-serif;
    border: none;
    outline: none;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.5 ease-in-out;
}

.btn {
    max-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.primary-btn {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
}

.main-container {
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (max-width: 1224px) {
    .main-container {
        padding: 0 20px;
    }
}


/* 
@media screen and (max-width: 480px) {
    .main-container {
        padding: 0 10px;
    }
} */