@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
:root {
    --white: #fff;
    --black: #000;
    --gray-1: #121212;
    --gray-2: #222222;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

button {
    font-family: 'Rubik', sans-serif;
    border: none;
    outline: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.5 ease-in-out;
}


/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: black;
        background: white;
    }
} */