.container {
    display: flex;
    gap: 24px;
    padding-top: 40px;
}

.product-image,
.product-info {
    flex: 1;
}

.product-image {
    display: flex;
    gap: 8px;
    flex: 1;
    max-height: 580px;
}

.image-carousel-wrapper {
    width: 10%;
    min-width: 60px;
    overflow: hidden;
}

.main-image-wrapper {
    flex: 1;
    overflow-y: scroll;
}

.main-image-wrapper::-webkit-scrollbar {
    width: 12px;
}

.main-image-wrapper::-webkit-scrollbar-track {
    background: var(--gray-8);
    border-left: 8px solid var(--white);
    background-clip: padding-box;
}

.main-image-wrapper::-webkit-scrollbar-thumb {
    background: var(--gray-4);
    border-left: 8px solid var(--white);
    background-clip: padding-box;
}

.image-carousel,
.image-carousel-item,
.main-image,
.main-image-item {
    width: 100%;
}

.image-carousel-item+.image-carousel-item,
.main-image-item+.main-image-item {
    margin-top: 8px;
}

.image-carousel-item img,
.main-image-item img {
    width: 100%;
    object-fit: cover;
}

.image-carousel-item img {
    height: 90px;
}

.product-name {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 8px;
}

.product-price {
    font-size: 2rem;
    font-weight: 600;
}

.product-colors {
    display: flex;
    align-items: center;
    gap: 8px;
}

.color-item {
    width: 32px;
    height: 32px;
    font-size: 12px;
    border: 1px solid var(--gray-2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    position: relative;
}

.color-item::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: currentColor;
    opacity: 0.8;
    box-sizing: border-box;
}

.color-item:hover::before {
    border: 2px solid var(--gray-2);
}

.size-measurement {
    font-size: 1.4rem;
    color: var(--gray-4);
    margin-top: 4px;
}

.product-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-colors,
.product-size,
.product-actions {
    margin-top: 16px;
}

.add-cart-button,
.buy-now-button {
    flex: 1;
    text-transform: uppercase;
}

.favorite-button {
    width: 44px;
    height: 44px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
}

.product-details {
    font-size: 1.4rem;
    margin-top: 16px;
    color: var(--gray-2);
}

.more-product-wrapper>div {
    padding: 20px 0 10px;
}

.more-product-wrapper h2 {
    font-size: 2rem;
    text-align: left;
    text-transform: none;
    color: var(--gray-2);
}

@media screen and (max-width: 1024px) {
    .product-image {
        max-height: 580px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .product-image {
        max-height: 482px;
    }
    .product-name {
        font-size: 2rem;
    }
    .more-product-wrapper h2 {
        text-align: center;
    }
}